<!-- register.component.html -->
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-bold mb-6 text-center">Registrar Cuenta</h2>
      <form (ngSubmit)="register()">
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="fullname">Nombre Completo</label>
          <input type="text" id="fullname" [(ngModel)]="fullname" name="fullname" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="email">Gmail</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="username">Usuario</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="password">Contraseña</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">Registrar</button>
      </form>
      <button routerLink="/login" class="mt-4 flex justify-center items-center text-blue-500 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H3m0 0l6 6m-6-6l6-6" />
        </svg>
        Regresar a Iniciar Sesión
      </button>
    </div>
  </div>